.PlaceCarousel{
  padding: 3rem 0px;
  @include bp(lg){
    padding: 5rem 0px;
  }
  h3.Title{
    display: block;
    text-transform: capitalize;
    font-size: 28px;
    line-height: 38px;
    @include bp(lg){
      font-size: 35px;
      line-height: 42px;

    }
  }

  .glide__slide{

    .Title{
      padding: 0.8rem 0 0.5rem;
      display: inline-block;
      position: relative;
      font-size: 20px;
      line-height: 30px;
      @include bp(sm){
        font-size: 20px;
        line-height: 30px;
      }

      a{
        position: relative;
        &:after{
          position: absolute;
          bottom: -0.1rem;
          left: 0;
          width: 100%;
          border-bottom: 2px solid $color-action;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
          content: "";
        }
        &:hover, &:focus{
          &:after{
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }

    }
  }
}

.GlideImg--box{
  position: relative;
  overflow: hidden;
  height: 300px;
  @include bp(lg){
    height: 350px;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


}

.PlaceCarousel__wrapper{
  padding: 0 4rem;
  position: relative;
  @include bp(lg){
    padding: unset;
  }
  .glide__arrow{
    position: absolute;
    top: 45%;
    background-color: $color-action-secondary;
    padding: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover{
      background-color: $color-action;
    }
    &.glide__arrow--left{
      left: -70px;
    }
    &.glide__arrow--right{
      right: -70px;
    }
  }
}

